@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex-grow: 1;
  }

  span {
    position: absolute;
    right: 0rem;

    svg {
      color: $error;
      font-size: 1.5rem;
      cursor: help;
    }
  }
}