@import "../../styles/colors.scss";

$maxContentWidth: 800px;
$contentPadding: 3rem;

.surveyListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .headerWrap {
    background-color: $primary;
    border-top: 3rem solid $primaryDark;
    display: flex;
    justify-content: center;

    .headerContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: $maxContentWidth;
      flex-grow: 1;
      padding: 1.5rem $contentPadding;

      img {
        width: 3.75rem;
        align-self: center;
      }
    }

    .logoutWrap {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: flex-end;
      justify-content: center;
      color: $white;

      span {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contentWrap {
    width: 100%;
    padding: $contentPadding;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: $maxContentWidth;
    flex-grow: 1;

    h2 {
      color: $primaryDark;
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        height: 250px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.4rem;
        flex-basis: 48%;
        margin-bottom: 1.5rem;
        box-shadow: 0px 1px 3px -1px $black;

        .surveyContent {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 0.4rem 0.4rem 0 0;
          flex-grow: 1;
          background-repeat: no-repeat;
          background-image:
            linear-gradient(to right, rgba($primaryLight, 0.2), rgba($primaryLight, 0.2)),
            linear-gradient(to right, $white, $white);
          background-position: 0 0, 50 0;
          background-size: 2.6rem 100%, 100% 100%;
          position: relative;
          
          .iconWrap {
            position: absolute;
            top: -1rem;
            right: -1rem;
            padding: 0.5rem;
            border-radius: 100%;
            display: flex;
            box-shadow: 0px 1px 3px $black;

            &.red {
              background-color: $invalid;
            }

            &.green {
              background-color: $valid;
            }
          }

          time {
            width: 50px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            background-color: $primaryLight;
            color: $white;
            border-radius: 0.3rem;
            margin-left: 1rem;
            flex-shrink: 0;

            .day {
              font-size: 2rem;
              font-weight: bold;
            }

            .month {
              text-transform: lowercase;
              margin: 0.2rem 0;
            }

            .year {
              font-size: 1rem;
            }
          }

          p {
            font-size: 1.2rem;
            margin: 1rem;
            align-self: center;
          }
        }

        footer {
          background-color: $primary;
          color: $white;
          line-height: 3rem;
          text-transform: lowercase;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.2s;
          border-radius: 0 0 0.4rem 0.4rem;

          &:hover {
            background-color: $primaryDark;
          }
        }
      }
    }
  }
}