@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;

  .contentWrap {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    padding: 3rem;

    &:empty {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1));
      background-position:
        3rem 3rem,
        9rem 3.25rem,
        9rem 5.25rem,
        9rem 7.25rem,
        3rem 10.6rem,
        3rem 16.7rem,
        3rem 23.1rem;
      background-size:
        80px 100px,
        calc(97% - 12rem) 20px,
        calc(90% - 12rem) 20px,
        calc(95% - 12rem) 20px,
        calc(100% - 6rem) 82px,
        calc(100% - 6rem) 82px,
        calc(100% - 6rem) 82px;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(to right, transparent, rgba($white, 0.3), transparent);
        animation: shimmer 1.4s infinite;
      }
    }
    
    hgroup {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
        color: $primaryDark;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .calendarWrap {
        width: 80px;
        height: 100px;
        margin-right: 1rem;
      }
    }

    .answersList {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        align-items: center;
        padding: 1rem;
        border-radius: 0.5rem;
        color: $primaryDark;
        margin-top: 1rem;

        img {
          width: 50px;
          height: 50px;
        }

        .answer {
          flex-grow: 1;
          margin: 0 1rem;
          font-size: 1.25rem;
        }

        .percent {
          font-size: 1.5rem;
        }

        &.active {
          box-shadow: 0 0 3px 2px $primaryLight;
        }
      }
    }

    button {
      margin-top: 1.25rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-position:
          3rem 3rem,
          8rem 3.25rem,
          8rem 5.25rem,
          8rem 7.25rem,
          3rem 10.6rem,
          3rem 16.4rem,
          3rem 21.9rem;
        background-size:
          60px 90px,
          calc(97% - 12rem) 20px,
          calc(90% - 12rem) 20px,
          calc(95% - 12rem) 20px,
          calc(100% - 6rem) 72px,
          calc(100% - 6rem) 72px,
          calc(100% - 6rem) 72px;
      }
      
      hgroup {  
        h2 {
          font-size: 1.25rem;
        }
  
        .calendarWrap {
          width: 60px;
          height: 90px;
        }
      }
  
      .answersList {
        li {
          img {
            width: 40px;
            height: 40px;
          }
  
          .answer {
            font-size: 1rem;
          }
  
          .percent {
            font-size: 1.25rem;
          }
  
          &.active {
            border: 2px solid $primaryLight;
          }
        }
      }
    }
  }
}