@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;

  .contentWrap {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    padding: 3rem;

    &:empty {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
        linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1));
      background-position:
        3rem 3rem,
        9rem 3.25rem,
        9rem 5.25rem,
        9rem 7.25rem,
        3rem 10.6rem,
        3rem 16.7rem,
        3rem 23.1rem;
      background-size:
        80px 100px,
        calc(97% - 12rem) 20px,
        calc(90% - 12rem) 20px,
        calc(95% - 12rem) 20px,
        calc(100% - 6rem) 82px,
        calc(100% - 6rem) 82px,
        calc(100% - 6rem) 82px;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(to right, transparent, rgba($white, 0.3), transparent);
        animation: shimmer 1.4s infinite;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-position:
          3rem 3rem,
          8rem 3.25rem,
          8rem 5.25rem,
          8rem 7.25rem,
          3rem 10.6rem,
          3rem 16.4rem,
          3rem 21.9rem;
        background-size:
          60px 90px,
          calc(97% - 12rem) 20px,
          calc(90% - 12rem) 20px,
          calc(95% - 12rem) 20px,
          calc(100% - 6rem) 72px,
          calc(100% - 6rem) 72px,
          calc(100% - 6rem) 72px;
      }
    }
  }
}