@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: $background;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0;
  outline: 0;
}

button {
  background: $primary;
  color: $white;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 3.2rem;
  cursor: pointer;
  padding: 0 1rem;

  &:hover {
    filter: brightness(0.9);
  }

  &:disabled {
    background: $disabledBackground;
    color: $disabledText;

    &:hover {
      filter: brightness(1);
    }
  }
}