@import "../../../../styles/colors.scss";
@import "../../../../styles/animations.scss";

.surveyItemEmpty {
  height: 250px;
  min-height: 250px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.4rem;
  flex-basis: 48%;
  margin-bottom: 1.5rem;
  box-shadow: 0px 1px 3px -1px $black;

  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
    linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
    linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
    linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1)),
    linear-gradient(to right, rgba($disabledBackground, 1), rgba($disabledBackground, 1));
  background-position:
    16px 56px,
    0 100%,
    98px 75px,
    98px 95px,
    98px 115px;
  background-size:
    50px 90px,
    100% 3rem,
    140px 16px,
    130px 16px,
    160px 16px;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, transparent, rgba($white, 0.3), transparent);
    animation: shimmer 1.4s infinite;
  }
}

@media only screen and (max-width: 600px) {
  .surveyItemEmpty { 
    flex-basis: 100%;
  }
}
